body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1E90FF;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

h1, h2 {
  margin: 0;
}

#start-screen, #game-over-screen, #timer{
  text-align: center;
  margin-bottom: 20px;
}

#start-button {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

#question-screen {
  text-align: center;
}

#question {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.option {
  font-size: 1.2em;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#game-over-screen input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#save-button {
  font-size: 1.2em;
  padding: 10px 20px;
  background-color: #1E90FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
